@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Roboto:wght@400;500;700&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
}
/*header*/
header{
    background-color: azure;
    padding: 10px 240px;
}
.logoo{
    display: flex;

}
.main-img{
    width: 60px;
    height: 30px;
    margin-top: 30px;
    
}
.main-text{
    font-size: 2rem;
}
.gg{
    color: blue;
}
.social-btn{
    border-radius: 8px;
    background: rgb(158, 157, 152);
    padding: 5px 5px;
    cursor: pointer;
    margin-bottom: 10px;
    
}
.u{
    width: 20px;
    
    align-items: center;
}
.f{
    width: 20px;
    align-items: center;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-title{
    font-size: 2rem;
}
.G{
    color: rgb(211, 96, 182);
}
nav > ul{
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: rgb(78, 74, 67);
}
/* main page */
 
.banner{
    display: flex;
   
}
.banner-content{
    
    background-image: url('images/Group\ 14.png');
    width: 600px;
    padding-bottom: 20px;
}
.banner-heading{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 70px;
}  
 
.banner-title{
   
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    padding:-100px 0px 0px 0px ;
    color: rgb(255, 127, 170);
}
.banner-description{
    text-align: center;
    color: rgb(41, 41, 37);
}
.btn-1{
    border-radius: 8px;
    background: rgb(211, 165, 15);
    padding: 10px 15px;
    color: rgb(242, 247, 250);
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
    margin-left: 170px;
}
.btn-2{
    border-radius: 8px;
    background: rebeccapurple;
    padding: 10px 15px;
    color: rgb(242, 247, 250);
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
    margin-left:5px;
}
 img{
   width: 500px;
   margin-left: 50px;
}


/* second-section */
.second-section{
    padding-top:20px ;
    display: flex;
    background-color:rgb(245, 241, 241);
}
.text-content{
     width: 500px;
    text-align: end;
}
.text-title{
    color: cadetblue;
    font-size: 2rem;
}
.xtra-text{
    font-size: 1.2rem;
}
.xtra-text-1{
    color: rgb(110, 165, 165);
}
.text-des{
    font-size: 0.8rem;
    color:rgb(87, 82, 82);
}

.second-sec-img{
    width: 600px;
    margin-left: 100px;
}

/* card image*/
.thired-section{
    max-width: 1440px;
    margin:100px;
   
}
.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.card-img{
    width: 200px;
}
.card-img .team-img{
    width: 230px;
}
.thired-text{
    
    text-align: center;
}
.thired-heading{
    font-size: 2rem;

}
.heading-text{
    color: blueviolet;
}
.img-des{
    margin-left: 50px;
}

/*  forth section */
.forth-section{
    max-width: 1440px;
    margin:100px;
    display: flex;
}
.fort-text-content{
    text-align: end;
    margin-top: 100px;
    
}
.forth-heading{
    font-size: 2rem;
}
.main-text-fort{
    color: cornflowerblue;
}

/*  fifth section */
.fifth-section{
    display: flex;
    background-color: coral;

}
.fifth-content{
    margin-left: 160px;
    margin-top: 70px;
}
.con-main{
    display: flex;
}
.con-1{

}
.con-2{
    text-align: end;
}
.fifth-img{
    width: 700px;
}

.fifth-heading{
    font-size: 2rem;
}
.fifth-btn{
    border-radius: 8px;
    background-color: red;
    padding: 10px 15px;
    color: rgb(242, 247, 250);
    font-size: 1rem;
    cursor: pointer;
    border: 0;

}

/*  sponsor */
.sponsor{
    max-width: 1440px;
    margin:100px;
}
.btn-img{
    width: 40px;
    margin-left: -3px;
    
}
.s-btn{
    border: none;
    border-radius: 8px;
    text-align: justify;
   

}

.s-btn:hover{
    background-color: aqua;
    color: red;
    text-shadow: 0cap;
}
 .s-five{
    margin-left: 200px;

 }
 .s-three{
    margin-top: 30px;
    margin-left: 260px;
 }


 /* footer */
 .footer{
    background-color: rgb(69, 69, 105);
   

 }
 .footer-title{
    display: flex;
    margin-left: 37%;
 }
 .footer-img{
    width: 80px;
    height: 50px;
    margin-top: 35px;
     
 }
 .gamers{
    font-size: 3rem;
 }
 .g-p{
    color: aliceblue;
 }
 .angor{
    color: aliceblue;
    padding-left: 15px;
 }
 .footer-service{
   
    margin-left: 400px;
    list-style: none;
    text-decoration: none;
    

 }
 .footer-icon{
    margin-left: 440px;
    margin-top: 30px;
 }
 .footer-imgg{
    width: 30px;
    
 }
 .condition{
    display: flex;
    justify-content: center;

 }
 .t{
    padding-left: 15px;
    margin-top: 10px;
 }






/* for media */

@media screen and (max-width:576px) {

    nav,nav > ul,.forth-section{
        flex-direction: column;
    }
    header{
        padding: 20px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    img{
        width: 300px;
        
     }
     .banner-content{
        width: 400px;
     }
    .im-btn{
        margin-left: 70px;
    }


    .second-section{
        flex-direction: column;
    }
    .text-content{
        width: 400px;
       text-align: center;
   }
   .second-sec-img{
    width: 300px;
    margin-left: 50px;
    
}
.btn-1{
    margin-left: 10PX;
}
.card{
     
    grid-template-columns: repeat(1,1fr);
    margin-left: -60px;   
}    
    
}